@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #FDFDFD;
    font-family: 'Poppins', sans-serif;
}

#logo {
    width: 80px;

}

.nav-link {
    color: #434343;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
}



.h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #434343;
    font-family: 'Poppins', sans-serif;

}


h3 {
    font-size: 1.2rem;
    font-weight: Bold;
    color: #434343;
    font-family: 'Poppins', sans-serif;

}

h4 {
    font-size: 1rem;
    color: #434343;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: justify;

}

#pupLogo {
    width: 100px;
    height: auto;

}

.course {
    font-weight: bold;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    color: #434343;
}

.school,
.location {
    font-size: .7rem;
    font-family: 'Poppins', sans-serif;
    color: #434343;
    font-weight: 400;
}

.year {
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    color: #434343;
    font-weight: 400;
}

.custom-btn {
    background-color: transparent;
    color: #FDFDFD;
    border: 2px solid #FDFDFD;
    border-radius: 25px;
    padding: 0.6rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    background-color: #FDFDFD;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.underlined {
    text-decoration: underline;
    color: #FDFDFD;
}

.experience-list li {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #FDFDFD;
}

.cv-location {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #FDFDFD;
    font-weight: 500;
    text-align: justify;
}

.cv-date {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #FDFDFD;
    font-weight: 500;
}

.cv-description {
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    color: #FDFDFD;
    font-weight: 200;
    text-align: justify;
}

.thick-border {
    border-left: 4px solid #FDFDFD;

}

.paragraph {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #434343;
}


.card-image {
    height: 150px;
    overflow: hidden;
}


.card-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.portfolio-btn {
    background-color: transparent;
    color: #FDFDFD;
    border: 2px solid #FDFDFD;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.portfolio-btn:hover {
    background-color: #fdfdfd39;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.about-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-card .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: calc(1.2em * 4);
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #FDFDFD;
}

.card-text {
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    color: #FDFDFD;
    text-align: justify;
}


@media (max-width: 576px) {
    .portfolio-btn {
        padding: 3px 8px;
        font-size: 12px;
    }

    .btn-icon {
        width: 12px;
    }
}

@media (max-width: 767.98px) {
    #portfolio .row {
        justify-content: center; 
    }

    #portfolio .col-12 {
        padding-left: 0;  
        padding-right: 0;  
    }

    #portfolio .col-12 > .card {
        margin-left: auto;
        margin-right: auto;
        width: 100%; 
    }
}

@media (max-width: 767.98px) {
    #cv .row {
        justify-content: center; 
    }

    #cv .col-12 {
        padding-left: 0;   
        padding-right: 0;  
    }

    #cv .col-12 > .card {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

